[submodule "external/go"]
	path = external/go
	url = https://github.com/dappcore/go.git
	branch = dev
[submodule "external/mlx"]
	path = external/mlx
	url = https://github.com/dappcore/go-mlx.git
	branch = dev
