[submodule "external/go"]
	path = external/go
	url = https://github.com/dappcore/go.git
	branch = dev
[submodule "external/ai"]
	path = external/ai
	url = https://github.com/dappcore/go-ai.git
	branch = dev
[submodule "external/inference"]
	path = external/inference
	url = https://github.com/dappcore/go-inference.git
	branch = dev
